body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 60px;
    
}
#header{
    padding:50px;
    background: url(dan.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: center;
    

}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding:10px 20px;
    font-weight: 700px;
    border-radius: 5px;
}
#header-2{
    text-decoration: none;
    text-align: center;
}

#taka{
    border:none;
    border-bottom: 7px;
}

.buttons{
    width: 700 ;
    padding: 5px 10px;
    text-align: center;
}
.button{
    border: 3px solid tomato;
    
}


.header-3{
    text-align: center;
}
.box-three{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom:150px;
    margin-left: 5px;
    margin-right: 5px;
    
}
#food{
    box-shadow: 10px 10px 40px gray;
    border:5px solid mediumblue;
    padding:7px;
    border-radius: 5px;
    background-color: rgb(207, 151, 151);

}

#family{
    box-shadow: 10px 10px 40px gray;
    border:5px solid purple;
    padding:7px;
    border-radius: 5px;
    background-color: aquamarine;
}
#education{
    box-shadow: 10px 10px 40px gray;
    border:5px solid yellowgreen;
    padding:7px;
    border-radius: 5px;
    background-color: burlywood;
}
.img-card{
    width: 15%;
    background-position: top;
}



.flexible{
    display: flex;
    margin-bottom: 150px;
}



.half-width{
    width:50%;
    padding-left: 5%;
    
}
.half-width img{
    width:100%;

}
.updates{
    text-align: center;
}
.es{
    text-align: center;
    
}
#subscribe{
    background-color: red;
}
#humble{
    color:tomato;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    text-align: center;
    background-color:gray;
    
}








