body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 60px;
    
}
#header{
    padding:50px;
    background: url(dan.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: center;

}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding:10px 20px;
    font-weight: 700px;
    border-radius: 5px;
}
#header-2{
    text-decoration: none;
    text-align: center;
}




.flexible{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width:50%;
    padding-left: 5%;
    ;
}
.half-width img{
    width:100%;

}
.updates{
    text-align: center;
}
.es{
    text-align: center;
    
}
#subscribe{
    background-color: red;
}
#humble{
    color:tomato;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    text-align: center;
    background-color:gray;
    
}
#es-back{
    background-color: coral;


}




