body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 60px;
    
}
#header{
    padding:50px;
    background: url(dan.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: center;
    

}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding:10px 20px;
    font-weight: 700px;
    border-radius: 5px;
}
#header-2{
    text-decoration: none;
    text-align: center;
}

#taka{
    border:none;
    border-bottom: 7px;
}

.buttons button{
    width:120px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: 600px;
}

#two-tk{
    border:2px solid red;
    background-color:aquamarine;
}


.header-3{
    text-align: center;
}
.box-three{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom:150px;
    margin-left: 5px;
    margin-right: 5px;
    
}
#food{
    box-shadow: 10px 10px 40px gray;
    border:5px solid mediumblue;
    padding:7px;
    border-radius: 5px;
    background-color: rgb(207, 151, 151);

}

#family{
    box-shadow: 10px 10px 40px gray;
    border:5px solid purple;
    padding:7px;
    border-radius: 5px;
    background-color: aquamarine;
}
#education{
    box-shadow: 10px 10px 40px gray;
    border:5px solid yellowgreen;
    padding:7px;
    border-radius: 5px;
    background-color: burlywood;
}
.img-card{
    width: 15%;
    background-position: top;
}



.flexible{
    display: flex;
    margin-bottom: 150px;
}



.half-width{
    width:50%;
    padding-left: 5%;
    
}
.half-width img{
    width:100%;

}
#get{
    color:red;
}
.updates{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.es{
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    
    
    
}
#subscribe{
    background-color: red;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}
#humble{
    color:tomato;
    font-family:cursive
}
footer{
    text-align: center;
    background-color:gray;
    
}
#es-back{
    border:0px;
    border-radius:0px;
    height: 200px;
    width: 700px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;



}
    
    

    
    

hr{
    width: 50%;
    line-height: normal;
    border-left: 0px;
}









